Requeriments:

First set up the file "config.txt". The first line contains the path to the work folder you want to use and the
second line contains the destination of your weka.jar

WEKA
https://weka.waikato.ac.nz/explorer
May be needed to set the classpath variable pointing to weka.jar

Python modules:
1- libsbml
http://sbml.org/Software/libSBML/docs/java-api/libsbml-installation.html
2- xlrd
https://pypi.python.org/pypi/xlrd
3- numpy
sudo apt-get install python-numpy
4- networkx
http://networkx.github.io/documentation/latest/install.html
sudo pip install networkx
5- Graphviz
http://www.graphviz.org/



